<style>
    a:link {
        color: green;
    }
    a:hover {
        color: red;
    }
  
    a:active {
        color: black:
    }
    a:visited {
        color: gray;
    }
    a[href="http://www.google.pl"] {
        color:lime;
    }
    a[title] {
        color: black;
        text-decoration: line-through;
    }
</style>

<div>
    <a href="http://www.google.pl">Google</a>
    <a href="#">Google</a>
    <a href="#">Google</a>
    <a href="http://www.google.com">Google</a>
    <a title="yo" href="http://www.google.com">Google</a>
</div>
